accelerate==1.1.1
bitsandbytes==0.43.0
datasets==3.3.2
decord==0.6.0
deepspeed==0.15.4
einops==0.6.1
ffmpeg-python==0.2.0
gradio==3.50.0
huggingface-hub==0.26.4
imageio==2.34.0
imageio-ffmpeg==0.4.9
matplotlib==3.9.3
moviepy==1.0.3
ninja==1.11.1.2
numpy==1.24.4
openai==1.57.1
opencv-python-headless==4.6.0.66
oss2==2.19.1
pandas==2.2.3
peft==0.4.0
pillow==10.4.0
protobuf==5.28.3
pyarrow==19.0.1
safetensors==0.4.5
scikit-learn==1.2.2
scipy==1.14.1
sentencepiece==0.2.0
tabulate==0.9.0
tensorboard==2.18.0
timm==1.0.3
tokenizers==0.20.3
# torch==2.4.1
# torchaudio==2.4.1
# torchvision==0.19.1
tqdm==4.67.1
transformers==4.46.3
triton==3.0.0
wandb==0.19.0
